.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.sidebar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.navigation {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 960px) {
  .sidebar {
    width: 32.20338983%;
    float: right;
    margin-right: 0;
  }

  .content {
    width: 66.10169492%;
    float: left;
    margin-right: 1.69491525%;
  }

  .navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

body {
  margin: 0;
  padding: 0px 0;
  line-height: 1.9;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #515151;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  color: #353535;
}

h3 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.image-header {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 60px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.image-header__image {
  width: 100%;
}

.article {
  margin-bottom: 60px;
}

.article__header {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.article__subheader {
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 60px;
}

.article__body {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 60px;
}

.article__body img {
  max-width: 100%;
}

@media (min-width: 720px) {
  .article {
    width: 66.10169492%;
    float: left;
    margin-right: 1.69491525%;
    margin-left: 16.94915254%;
  }
}

.author {
  height: 60px;
  margin-bottom: 60px;
}

.author__image {
  width: 60px;
  border-radius: 100%;
  float: left;
}

.author__details {
  padding-left: calc(60px + 20px);
}

a {
  color: #47b8e0;
  font-weight: font-weight-bold;
  text-decoration: none;
}

.tag {
  display: inline-block;
  background: #e5e5e5;
  text-decoration: none;
  padding: 5px 15px;
  font-size: .9em;
  font-weight: 400;
  color: #979797;
  margin-right: 10px;
  margin-bottom: 10px;
}

.post {
  margin-bottom: 60px;
  padding: 13px;
}

.post:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.post__header {
  font-size: 1.4em;
  font-weight: 800;
}

.post__author {
  font-size: .9em;
  font-weight: 400;
  margin-bottom: 30px;
}

.post__author a {
  font-weight: 400;
}

.post__edit {
  float: right;
  margin-top: 20px;
}

.post__time {
  margin-left: 10px;
}

.post__preview {
  font-size: 1em;
  font-weight: 400;
}

form {
  width: 100%;
  float: left;
}

input,
textarea {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline-style: none;
}

input:hover,
textarea:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

button {
  float: left;
  width: 100px;
  border: none;
  background-color: #47b8e0;
  color: #FFF;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7em;
}

button:hover {
  background-color: #31b0dc;
}

nav {
  background-color: #225378;
  -webkit-box-shadow: 0 1px 13px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 13px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

nav h1 {
  margin: 0;
  float: left;
  line-height: 1.9em;
}

nav h1 a {
  font-size: 0.8em;
  color: #FFF;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li.active a {
  color: #FFF;
  font-weight: bold;
  -webkit-box-shadow: 0 -3px 0 0 #fff inset;
          box-shadow: 0 -3px 0 0 #fff inset;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  float: left;
  -webkit-transition: 150ms -webkit-box-shadow ease-in-out;
  transition: 150ms -webkit-box-shadow ease-in-out;
  transition: 150ms box-shadow ease-in-out;
  transition: 150ms box-shadow ease-in-out, 150ms -webkit-box-shadow ease-in-out;
}

nav ul li a:hover {
  color: #FFF;
  -webkit-box-shadow: 0 -3px 0 0 #fff inset;
          box-shadow: 0 -3px 0 0 #fff inset;
}

.listSidebar .post {
  -webkit-box-shadow: 0 1px 13px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 13px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 2px;
  -webkit-transition: 150ms -webkit-box-shadow ease-in-out;
  transition: 150ms -webkit-box-shadow ease-in-out;
  transition: 150ms box-shadow ease-in-out;
  transition: 150ms box-shadow ease-in-out, 150ms -webkit-box-shadow ease-in-out;
}

.listSidebar .post:hover {
  -webkit-box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.4);
}

.listSidebar h1 {
  font-size: 1.0em !important;
}

.listSidebar .post__preview {
  font-size: 0.8em;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  font-size: 1em;
  float: left;
  padding: 0 10px;
}

.social li a {
  -webkit-transition: 150ms color ease-in-out;
  transition: 150ms color ease-in-out;
}

.social li a:hover {
  color: #FFF;
}

