.listSidebar {
	.post {
		margin-bottom: 10px;
		transition: 150ms box-shadow ease-in-out;

		.post__author {
			margin-bottom: 10px; 
		}
	}
	h1 {
		font-size: 1em !important;
	}

	.post__preview {
		font-size: 0.8em; 
	}
}